@use 'materials';
@use 'text';
@use 'objects';

.synth-pluck-2 {
  @include materials.base-plate;
  @include objects.console-panel;

  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;

  .dial-container {
    margin: 0 5px;
  }

  label {
    @include text.label;
  }

  h3 {
    @include text.label;
  }

  hr {
    width: 80%;
  }
}
