@use 'materials';
@use 'text';

.synth-pad-1 {
  @include materials.base-plate;

  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;

  h3 {
    @include text.label
  }

  hr {
    width: 80%;
  }
}