@use "../materials";
@use "../text";

.channel-strip {
  @include materials.base-plate;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  label {
    @include text.label;
  }

  & > label {
    font-weight: bolder;
  }

  .slider-container {
    height: 15em;
    width: 5em;
    transform: rotate(90deg) translateY(5.6em) translateX(-5.6em);
  }
}
