@use '../text';

.control-group {
  border: thin groove #03a9f4;
  border-top: none;
  // padding: 10px;
  padding-top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  & > .top-border {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    // border: thick groove white;

    .left,
    .right {
      width: 100%;
      height: 0;
      border-top: thin groove #03a9f4;
      translate: 0% 5%;
    }
    & > label {
      @include text.label;
      translate: 0 -0.7em;
      white-space: nowrap;
    }
  }
}
