@import url(https://fonts.googleapis.com/css?family=Roboto:400);

body {
  background-color: #212121;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: Roboto;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

main {
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content: space-between;
}
