@import url(https://fonts.googleapis.com/css?family=Roboto:400);

body {
  margin: 0;
  background-image: radial-gradient(30% 50%, #555 6%, #333 90%);
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

main {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;

  .transport-controls {
    position: absolute;
    left: 3em;
    bottom: 3em;
  }
}
